@import "./variables.module.scss";

.yellow {
    color: $primary-color-yellow;
  }
.pink {
    color: $primary-color-pink;
  }
.orange {
    color: $primary-color-orange;
  }
.purple {
    color: $primary-color-purple;
  }
.green {
    color: $primary-color-green;
  }

